#index
  padding: 0
  width: 100%
  height: 100vh
  background-image: url("img/back.jpg")

  /* Create the parallax scrolling effect */
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .section__wrap
    background: rgba(map-get($colors, 'primary'), .6)
    width: inherit
    height: inherit
    padding: $space + 1rem 1rem 1rem
