#index
  padding: 0
  width: 100%
  min-height: 100vh
  background: map-get($colors, 'primary')
  position: relative
  display: flex
  text-align: center
  @include breakpoint('sm')
    align-items: center

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url(img/back3.webp)
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    filter: blur(1px)
    opacity: .2

  &>*
    position: relative

  .section__wrap
    padding: $space/3 1rem 1rem
    width: 100%
    @include breakpoint('sm')
      padding: $space 0

#portfolio
  background: #{map-get($colors, 'generador')}
  width: 100%
  min-height: 100vh
  position: relative
  &>*
    position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url(img/back-h.webp)
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    opacity: .2

.contact
  display: grid
  @include breakpoint('md')
    grid-template-columns: 42% 1fr
  @include breakpoint('lg')
    grid-template-columns: 35% 1fr
